name: deploy service
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Deploy to server
              uses: appleboy/ssh-action@v0.1.8
              with:
                  host: ${{ secrets.DROPLET_HOST }}
                  username: ${{ secrets.DROPLET_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                      cd /home/diproit/aib-report-web/rajida_aib_report_web_jasper_service
                      git pull origin main
                      docker compose up -d
